<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <a href="/bike">Go to My Bikes</a>
    </div>
    <div class="container center-align" style="margin-top: 50px;">
        <h1 class="red-text text-darken-2">404 - Not Found</h1>
        <p class="flow-text">The requested resource could not be found.</p>
        <a href="/">Go Home</a>
    </div>
</body>
</html>