<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bikes Homepage</title>
</head>
<body>
    <% if (user) { %>
        <h1>Welcome to My Bikes Homepage, <%= user.username %>!</h1>
        <p> 
            <a href="/auth/sign-out"><button>Sign out</button></a>
          </p>
        <% } else { %>
        <h1>Welcome to My Bikes Homepage, Guest.</h1>
        <p>
          <a href="/auth/sign-up"><button>Sign up</button></a></a> or <a href="/auth/sign-in"><button>Sign in</button></a>
        </p>
        <% } %>
   <p><a href="/bikes"><button>Go to My Bikes</button></a></p>   
</body>
</html>